[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/b33nan/Desktop/dmenu-5.2]
row=6
col=0

[/home/b33nan/Desktop/dmenu-5.2.tar.gz]
row=5
col=0

[/home/b33nan/Desktop/dwm-6.4]
row=4
col=0

[/home/b33nan/Desktop/st-0.9]
row=8
col=0

[/home/b33nan/Desktop/st-0.9.tar.gz]
row=7
col=0

[/home/b33nan/Desktop/dwm-6.4.tar.gz]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/b33nan]
row=2
col=0

